<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">

<title>Shopstick</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<div class="container">
		<form id="customerShopForm" th:action="@{/customerShop}" th:object="${customerShopForm}" method="post">

			<div th:if="${infoSuccess}">
				<div class="alert alert-success" role="alert">
					<h4 class="u-text-h3" th:text="#{message.messageSuccess}"></h4>
				</div>
			</div>
			
			<div th:if="${#fields.hasErrors('*')}">
				<div class="alert alert-danger" role="alert">
					<h4 th:text="#{message.messageWarning}"></h4>
					<div class="clearfix">
						<div th:errors="*{error}"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<h2 th:text="#{message.welcomeCustomer(*{userName})}"></h2>
				</div>
			</div>

			<div class="row pt-4">
				<h3 th:text="#{message.customer}"></h3>
			</div>
			
			<div class="row pt-2">
				<div class="col-md-4">
					<label for="itemCategory" th:text="#{label.category}"></label>
					<select th:field="*{category}" id="category">
						<option selected th:value="''">ALL</option>
						<option th:each="cat: ${categories}" th:utext="${cat}"
							th:value="${cat}">
					</select>
					<input class="btn btn-light" type="submit" th:name="reload" th:value="Filter"></input>
				</div>
			</div>

			<th:block th:if="${itemsList != null and !itemsList.isEmpty()}">
				<div class="row">
					<th:block th:each="it : ${itemsList}">
						<div class="col-md-3 card">
							<img style="width: 80px;" src="https://toppng.com/uploads/preview/fork-and-spoon-logo-11550711624r8glowvldj.png" class="card-img-top" alt="Fork">
							<div class="card-body">
								<h5 class="card-title" th:text="${it.name}"></h5>
								<h5 class="card-title" th:text="${it.price + 'S$'}"></h5>
								<p class="card-text" th:text="${it.description}"></p>
<!-- 								<div th:if="${it.stockNumber > 4}"> -->
<!-- 									<select class="form-control"> -->
<!-- 										<option th:utext="1" th:value="1"></option> -->
<!-- 										<option th:utext="2" th:value="2"></option> -->
<!-- 										<option th:utext="3" th:value="3"></option> -->
<!-- 										<option th:utext="4" th:value="4"></option> -->
<!-- 										<option th:utext="5" th:value="5"></option> -->
<!-- 									</select> -->
<!-- 								</div> -->
<!-- 								<div th:unless="${it.stockNumber > 4}"> -->
<!-- 									<select class="form-control" th:field="*{itemToAddQuantity}"> -->
<!-- 										<option th:each="i: ${#numbers.sequence(0, it.stockNumber)}" -->
<!-- 											th:utext="${i}" th:value="${i}"> -->
<!-- 									</select> -->
<!-- 								</div> -->
								<button class="btn btn-primary" th:if="${it.stockNumber>0}" type="submit" name="addToCart" th:value="'addToCart@' + ${it.id}" th:text="#{label.addToCart}"></button>
								<button class="btn btn-primary" th:unless="${it.stockNumber>0}" type="submit" name="addToCart" th:value="'addToCart@' + ${it.id}" th:text="#{label.addToCart}" th:disabled="true"></button>
							</div>
						</div>
						<div class="col-md-1"></div>
					</th:block>
				</div>
				<div class="row pt-3">
					<div class="col-md-2">
						<label for="quantity" th:text="#{label.quantity}"></label>
					</div>
					<div class="col-md-2">
						<select class="form-control"
							th:field="*{itemToAddQuantity}">
							<option th:utext="1" th:value="1"></option>
							<option th:utext="2" th:value="2"></option>
							<option th:utext="3" th:value="3"></option>
							<option th:utext="4" th:value="4"></option>
							<option th:utext="5" th:value="5"></option>
						</select>
					</div>
				</div>
			</th:block>
			
<!--	 	SHOW USER CART -->
			<th:block th:if="${cartItems != null and cartItems.length>0}">
				<div class="row pt-5">
				<h2 th:text="#{message.myCart}"></h2>
					<div class="col-md-6">
						<table>
							<thead>
								<tr>
									<td role="columnheader" th:text="#{label.itemName}"></td>
									<td role="columnheader" th:text="#{label.itemCategory}"></td>
									<td role="columnheader" th:text="#{label.quantity}"></td>
									<td role="columnheader" th:text="#{label.price}"></td>
									<td role="columnheader" th:text="#{label.delete}"></td>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="ci : ${cartItems}">
									<tr>
										<td th:text="${ci.item.name}"></td>
										<td th:text="${ci.item.category}"></td>
										<td th:text="${ci.quantity}"></td>
										<td th:text="${ci.item.price} + ' S$'"></td>
										<td>
											<button class="btn btn-danger" type="submit" name="deleteFromCart" th:value="'deleteFromCart@' + ${ci.item.id}" th:text="#{label.delete}"></button>
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					<div class="col-md-6">
						<label th:text="#{label.totalPrice}"></label>
						<label th:text="*{totalAmount} + ' S$'"></label>
					</div>
				</div>
				<div class="row pt-2">
					<div class="col-md-2">
						<input class="btn btn-primary" type="submit" th:name="checkout" th:value="#{label.checkout}"></input>
					</div>
				</div>
			</th:block>
			
			<div class="row pt-2">
				<div class="col-md-2">
					<input type="submit" name="back" id="back" th:value="#{message.backToLogin}">
				</div>
			</div>

			<input type="hidden" th:field="*{userId}" />
			<input type="hidden" th:field="*{userName}" />
			<input type="hidden" th:field="*{itemIdToAdd}" />
			<input type="hidden" th:field="*{cartId}" />
		</form>
	</div>
</body>

</html>